body,
html,
button,
input,
optgroup,
select,
textarea {
  font-family: "Gudea", Helvetica, sans-serif !important;
  color: #fff;
  background: red;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
}
.panel {
  background-color: #294167;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 0 rgba(0, 0, 0, 0.02);
}
.subPanel {
  padding: 10px 15px;
  margin-bottom: 25px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 -1px 0 rgba(0, 0, 0, 0.02);
  transition: box-shadow 0.4s ease-in-out;
  transition: all 0.4s;
  position: relative;
  &::before {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.92),
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 140px;
    width: 100%;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    box-shadow: 0px 0px 63px 3px #3e5da0;
    transform: scale(1.1);
    &::before {
      opacity: 0;
    }
  }
}
.row.gutter-0 {
  margin-left: 0;
  margin-right: 0;

  > [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
}

.row.gutter-5 {
  margin-left: -2.5px;
  margin-right: -2.5px;

  > [class*="col-"] {
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
}

.row.gutter-10 {
  margin-left: -5px;
  margin-right: -5px;

  > [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.row.gutter-15 {
  margin-left: -7.5px;
  margin-right: -7.5px;

  > [class*="col-"] {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}

.row.gutter-20 {
  margin-left: -10px;
  margin-right: -10px;

  > [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.table {
  margin-bottom: 0;
  td {
    border-top: 1px solid #344c73;
  }
  thead {
    th {
      border: none;
      color: #27a993;
    }
  }
}
.divTable {
  margin-bottom: 0;
  .divTableHead {
    border: none;
    color: #27a993;
    vertical-align: bottom;
    padding: 0.75rem;
    font-weight: 600;
    font-size: 13px;
  }
  .divTableRow {
    border-top: 1px solid #344c73;
    padding: 0.75rem;
    vertical-align: top;
    font-size: 13px;
    transition: background border 0.3s;

    &:hover {
      background: #2a3e5f;
    }
    &.rounded {
      box-shadow: 0 0 88px rgba(0, 0, 0, 0.5);
      border: 1px dashed #2154a9 !important;
      background: #304973;
    }

    &.loaderContent {
      .row {
        border-bottom: solid 1px #374d73;
        padding: 20px 0;
      }
    }

    .btnGroupTools {
      .btn-navy {
        background: #3b5379;
        border: none;
        font-size: 13px;
        border-radius: 3px;
        color: #fff;
        margin-left: 5px;
        display: inline-flex;
        padding: 5px 9px;
        i {
          padding: 2px 0;
        }
        &:hover {
          cursor: pointer;
          background: #007aff;
        }
      }
      .btn-success {
        padding: 5px 9px;
        font-size: 13px;
        transition: background 0.3s;
      }
    }
  }
}
.form-control {
  border-radius: 4px;
  box-shadow: none !important;
  border: 1px solid #6f8bb7;
  color: #d6d6d6;
  background: #222529;
  padding: 17px 12px;
  &::placeholder {
    color: rgba(225, 235, 245, 0.3);
  }
  &:focus {
    border-color: #384c6d;
    box-shadow: none;
    background: #fbfcff;
  }
}
textarea {
  &.form-control {
    height: 91px;
    padding: 3px 12px;
  }
}
.modal-90w {
  width: 90%;
  max-width: none !important;
}
.page-item {
  margin: 0 2px;
  .page-link {
    color: #fff;
    background-color: #27354f;
    border-color: #324260;
  }
  &:hover {
    .page-link {
      color: #fff;
      background-color: #5891de;
      border-color: #5891de;
    }
  }
  &.disabled {
    .page-link {
      color: #fff;
      background-color: #27354f;
      border-color: #324260;
    }
  }
  &.active {
    .page-link {
      color: #fff;
      background-color: #5891de;
      border-color: #5891de;
    }
  }
}
.paginationWrapper {
  margin: 20px 0;
}
.songInfo {
  margin-bottom: 10px;
  span {
    color: #0ee9ff;
  }
}
.songController {
  button {
    margin-right: 10px;
  }
}
.datepicker-panel {
  color: #000;
}
